<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>contextdata1</param-name>
        <param-value>this is contextdata 1</param-value>
    </context-param>
    <context-param>
        <param-name>contextdata2</param-name>
        <param-value>this is contextdata 2</param-value>
    </context-param>
    <context-param>
        <param-name>contextdata3</param-name>
        <param-value>this is contextdata 3</param-value>
    </context-param>
    <context-param>
        <param-name>contextdata4</param-name>
        <param-value>this is contextdata 4</param-value>
    </context-param>
    <servlet>
        <servlet-name>Servletone</servlet-name>
        <servlet-class>com.jlxy.servlet.Servletone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletTwo</servlet-name>
        <servlet-class>com.jlxy.servlet.ServletDemo2_init_destroy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletThree</servlet-name>
        <servlet-class>com.jlxy.servlet.ServletThree</servlet-class>
        <servlet-mapping>
            <servlet-name>ServletThree</servlet-name>
            <url-pattern>ServletThree</url-pattern>
        </servlet-mapping>
    </servlet>
    <servlet>
        <servlet-name>ServletDemo4_Thread</servlet-name>
        <servlet-class>com.jlxy.thread2.ServletDemo4_Thread</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDemo4</servlet-name>
        <servlet-class>com.jlxy.thread2.ServletDemo4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFive</servlet-name>
        <servlet-class>com.jlxy.servlet.ServletDemo5_ServletCongig</servlet-class>
        <init-param>
            <param-name>data1</param-name>
            <param-value>xxxxx1</param-value>
        </init-param>
        <init-param>
            <param-name>data2</param-name>
            <param-value>xxxx2</param-value>
        </init-param>
        <init-param>
            <param-name>data3</param-name>
            <param-value>xxxxx3</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ServletDemo6</servlet-name>
        <servlet-class>com.jlxy.servlet.demo6.ServletDemo6</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDemo7</servlet-name>
        <servlet-class>com.jlxy.servlet.demo7.ServletDemo7</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDemo77</servlet-name>
        <servlet-class>com.jlxy.servlet.demo7.ServletDemo77</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletContext</servlet-name>
        <servlet-class>com.jlxy.servlet.demo8.ServletContext</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDemo10</servlet-name>
        <servlet-class>com.jlxy.servlet.demo10.ServletDemo10</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDemo11</servlet-name>
        <servlet-class>com.jlxy.servlet.demo11.ServletDemo11</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDemo12</servlet-name>
        <servlet-class>com.jlxy.servlet.demo12.ServletDemo12</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servletone</servlet-name>
        <url-pattern>/Servletone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletTwo</servlet-name>
        <url-pattern>/ServletTwo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDemo4_Thread</servlet-name>
        <url-pattern>/ServletDemo4_Thread</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDemo4</servlet-name>
        <url-pattern>/ServletDemo4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFive</servlet-name>
        <url-pattern>/ServletFive</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDemo6</servlet-name>
        <url-pattern>/ServletDemo6</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDemo7</servlet-name>
        <url-pattern>/ServletDemo7</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDemo77</servlet-name>
        <url-pattern>/ServletDemo77</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletContext</servlet-name>
        <url-pattern>/ServletContext</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDemo10</servlet-name>
        <url-pattern>/ServletDemo10</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDemo11</servlet-name>
        <url-pattern>/ServletDemo11</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDemo12</servlet-name>
        <url-pattern>/ServletDemo12</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
